.About {
    height: auto;
    position: relative;
    padding: 0 2%;
    margin-bottom: 114px;
    margin-top: 36px;

    display: flex;
    justify-content: space-between;

    &__content {
        padding: $spacing;
        flex-basis: 70%;
    
        z-index: 1;

        & h1 {
            font-family: 'Mansalva', cursive;
            font-size: 3rem;
            color: $primary;
        }
    }

    &__contact {
        color: #fff;
        align-self: flex-end;
        justify-content: flex-end;
        background: $primary;
        padding: $spacing*2 $spacing*3;
        display: inline-block;
        border-radius: 20px;
        & h2 {
            margin: 0;
            margin-bottom: $spacing;
            text-transform: uppercase;
            font-family: 'Mansalva', cursive;
        }

        & a {
            color: #eedfff;
            margin: 0;
            margin-left: $spacing*1.5;
        }
    }
}