.Card {
    height: auto;
    width: 100%;
    position: relative;
    background: #f183c3;
    display: flex;
    margin: 0 $spacing 0 0;
    margin-bottom: $spacing*6;
    border-radius: 12px;

    float: left;
    align-items: center;
    box-sizing: border-box;
    
    &.horizontal {
        .Card__thumbnail {
            width: auto;
            height: 340px;
        }
    }

    padding-right: $spacing*2;
    padding-top: $spacing;
    padding-bottom: $spacing;

    &:nth-child(2n) {
        padding-left: $spacing*2;
        padding-right: initial;

        float: right;
        flex-direction: row-reverse;

        .Card__made-with {
            flex-direction: row-reverse;
        }

        .Card__thumbnail {
            right: -$spacing*3;
            left: initial;
            box-shadow: -7px 14px 28px rgba(0,0,0,0.25), 5px 10px 10px rgba(0,0,0,0.22);

        }

        .Card__content {
            //align-self: flex-end;
            justify-self: flex-end;
            margin-left: initial;
            margin-right: $spacing;
        }
    }

            &__thumbnail {
                box-shadow: 7px 14px 28px rgba(0,0,0,0.25), 5px 10px 10px rgba(0,0,0,0.22);
                top: -$spacing*3;
                left: -$spacing*3;
                position: relative;
                z-index:2;
                width: 425px;
                height: auto;
                border-radius: 24px;
                transition: all 155ms ease;
                max-width: 100%;
                max-height: 100%;
            }

        
    
    &__content {
        color: #fff;
        margin-left: $spacing;

    }
    
    &__kind {
        margin: 0;
    }

    &__title {
        margin-bottom: 0;
        //font-family: 'Mansalva', cursive;
    }

    &__category {
        opacity: .45;
        padding: 0;
        margin: 0;
    }

    &__made-with {
        margin: $spacing*2 0;
        display: flex;
        flex-wrap: wrap;
        background: rgba(21, 21, 21, 0.1);
        border-radius: 64px;
        padding: 0 $spacing*2;
        align-self: flex-end;
        justify-self: flex-end;
        & img {
            width: 34px;
            height: 34px;
            margin: $spacing*2 $spacing;
            opacity: 0.8;
            transition: all 155ms ease;

            &:hover {
                opacity: 1;
            }
        }
    }

    @media (max-width: 768px) {
        flex-direction: column !important;
        padding-left: 0 !important;
        padding-right: 0 !important;

        &__thumbnail {
            width: 87vw !important;
            height: auto !important;
            left: 0 !important;
            right: 0 !important;
        }

        &__content {
            padding: 0 $spacing;
        }
    }
}

/*
.Card {
    width: 300px;
    height: 450px;
    border-radius: 20px;
    position: relative;
    margin: $spacing auto;
    

    flex-direction: column;
    
    display: flex;
    cursor: pointer;

    overflow: hidden;

    user-select: none;

    &:hover {
        .Card__thumbnail img {
            transform: translate(-50%, -50%) scale(1.05) rotate(2deg);
        }

        .Card__content {
            padding: $spacing*1.5 $spacing;
            background: rgba(0, 0, 0, .45);
        }
    }
    
    &.featured {
        margin: $spacing auto;
        width: 97.5%;
        height: 300px;

        .Card__thumbnail img {
            width: 100%;
            height: auto;
        }
        .Card__content {
            padding: $spacing*2;
        }
    }


    &__thumbnail {
        width: 100%;
        height: 100%;

        overflow: hidden;

        & img {
            height: 100%;
            min-width: 100%;
            width: auto;
            position: relative;
            user-select: none;

            left: 50%;
            top: 50%;
            transition: transform 255ms ease;
            transform: translate(-50%, -50%);
        }
    }

    &__content {
        position: absolute;
        bottom: 0;
        left: 0;
        width: 100%;
        padding: $spacing;
        background: rgba(0, 0, 0, .2);
        color: #fff;
        transition: all 255ms ease;
    }
    
    &__kind {
        margin: 0;
    }

    &__title {
        margin: 0;
    }



    @media (max-width: 768px) {
        width: 100%;
        padding: 0 8px;

        .Card.featured {
            height: 400px;
        }
    }
}
*/